* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 0fr);
}

.day {
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}
