.post-container {
  display: flex;
  flex-direction: row;
}

.post-input {
  margin-bottom: 20px;
}

.post-content {
  margin-right: 20px;
}

.reply-button {
  background-color: none;
  color: black;
}
