.board {
  width: 200px;
  height: 200px;
}

.cell {
  width: 100px;
  height: 100px;
  background: lightblue; /* Background color */
  border: 1px solid black;
}

.cell:disabled {
  color: black; /* Text color */
  background: lightblue; /* Background color */
  border: 1px solid black; /* Border color */
}
